.ForgotPassword {
    &__body {
        background-color: #f0f0f0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    &__container {
        @media screen and (width >= 42.25rem) {
            background-color: white;
            width: 65%;
            border-radius: 1.25rem;
        }
        height: 75%
    }

    &__component {
        @media screen and (width >= 42.25rem) {
            padding: 2.25rem;
        }
    }

    &__buttonContainer {
        width: 5%;
    }

    &__logoContainer {
        display: flex;
        justify-content: center;
        width: auto;
        height: 40vh;
    }

    &__textContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 1.00rem;
        transform: translateY(-2.75rem);
    }

    &__text {
        font-weight: bold;
        font-size: 1.25rem;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
    }

    &__text2 {
        color: #434343;
        margin: 0;
        margin-top: 0.25rem;
        text-align: center;
        font-family: Arial, sans-serif;

        @media screen and (width >= 42.25rem) {
            width: 100%;
        }
        width: 14.00rem;
    }

    &__textFieldContainer {
        display: flex;
        flex-direction: column;
        padding-bottom: 1.00rem;
        transform: translateY(-2.75rem);

        @media screen and (width >= 42.25rem) {
            padding-left: 12.50rem;
            padding-right: 12.50rem;
        }

    }

    &__errorText {
        color: red;
        padding-top: 0;
        margin-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    &__sendButtonContainer {
        display: flex;
        justify-content: center;
        height: 4.75rem;
        transform: translateY(-2.75rem);

    }
}
