@use 'sass:color';

.Login {
    &__LoginContainer{
        display: flex;
        flex-direction: column;
        align-items: center; /* Center horizontally */
        justify-content: center; /* Center vertically */
        min-height: 100vh; /* Adjust height as needed */
        background-color: #f0f0f0;
    }

    &__whiteContainer{
        background-color: white; /* Set the background color of the container */
        padding: 1.25rem; /* Add padding to create space between the content and the container */
        border-radius: 0.75rem; /* Add rounded corners to the container */
        width: 80%; /* Adjust the width of the container */
        max-width: 17.50rem; /* Set maximum width for responsiveness */
        min-height: 37.50rem;
    }

    &__logo{
        width: 100%; /* Set the width of the SVG */
        height: auto;
        
    }

    &__textCentered {
        text-align: center;
    }

    &__registerHereContainer{
        display: flex;
        margin-top: 2.50rem;
        justify-content: center; /* Center vertically */

    }

    &__registerHereBtn{
        color: green;
    }

    &__forgotPasswordBtn {
        color: black;
        text-decoration: none;
        transition: color 0.3s; // Smooth transition for color change
  
            &:hover {
                color: color.adjust(black, $whiteness: 35%) // Lighten the color by 20% when hovering
            }
    }
}
