.PasswordField {
    &__container {
        display: flex;
        justify-content: space-between;
        background-color: #F9FAFA;
        height: 30px;
        width: 100%;
        border: 1px solid lightgray;
        border-radius: 5px;
        padding: 0px;
        margin: 5px 0 10px 0;
    }

    &__textBox {
        background: none;
        border: none;
        height: 100%;
        margin: 0px;
        width: 75%
    }

    &__header {
        padding-top: 5px; 
        font-weight: bold
    }

    &__showPasswordBtn {
        border: none;
        height: 100%;
        margin: 0px;
        background: none;
        cursor: pointer;
        width: 25%
    }
}