.EmailField {
    &__container {
        background-color: white;
    }

    &__errorText {
        color: red;
        background-color: white;
        padding-top: 0;
        margin-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}
