.CommunityCard {
  &__VerticalCenter {
    vertical-align: middle;
  }

  &__NumberOfPeople {
    padding-left: 0.75rem;
    font-weight: 500 !important;
  }

  &__PeopleNames {
    padding-left: 0.75rem;
  }
  
  &__CommunityImage {
    width: 12.50rem;
    height: 12.50rem;
  }
}
