.CommunityX {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__header{
        display: flex;
        width: 24.00rem;
        padding: 0.75rem;
    }

    &__backButton{
        height: 100%;
        align-self: flex-start;
        padding-left: 0.75rem;
    }

    &__name{
        padding-left: 2.50rem;
        font-size: 2.50rem;
    }
    
    &__body{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
    }

    &__map{
        padding: 0.25rem;
    }

    &__users{
        padding: 0.25rem;
    }

    &__showPosts{
        /* empty */
    }

    

    &__createPostButton{
        width: 24.00rem;
        margin: 0.75rem;
    }
}
