.LocationNotification {
    &__container {
        z-index: 9999;
        position:absolute;
        background-color: #ffffff;
        border-radius: 0.50rem;
        box-shadow: 0 0.25rem 0.50rem rgba(0, 0, 0, 0.1);
        padding: 2.00rem; /* Increase padding as needed */
        max-width: 25.00rem; /* Optionally, limit the width to prevent excessive stretching */
        margin: auto; /* Center the box horizontally */
        top: 50%; /* Position the component in the vertical center */
        left: 50%; /* Position the component in the horizontal center */
        transform: translate(-50%, -50%); /* Center the component */
        display: flex; /* Enable flexbox to align content vertically */
        flex-direction: column; /* Align content vertically */
        justify-content: space-between; /* Align content vertically */
    }

    &__image {
        display: flex;
        justify-content: center; /* Center the image horizontally */
        max-width: 100%; /* Ensure the image doesn't exceed its container */
        max-height: 100%; /* Ensure the image doesn't exceed its container */
        object-fit: fill; /* Maintain aspect ratio and fit inside the container */
    }

    &__header {
        font-size: 2.5rem; /* Increase font size */
        margin-bottom: 0.50rem; /* Increase margin */
    }

    &__message {
        font-size: 1.25rem; /* Decrease font size */
        color: #999999; /* Lighter color for message */
        margin-bottom: 1.00rem; /* Decrease margin */
        text-align: center;
    }

    &__buttonContainer {
        flex-direction: column; /* Stack buttons vertically */
        margin-top: 1.00rem; /* Add margin above buttons */
    }

    &__confirmButton {
        width: 100%;
    }

    &__cancelButton {
        width: 100%; /* Make buttons full width */
        margin-bottom: 0.50rem; /* Add margin between buttons */
    }
}
