$bc: white;

.ResetPasswordVerify {
    &__container {
        background-color: $bc;
        display: flex;
        flex-direction: column;
        width: auto;
        height: 100vh;
    }

    &__protectionDiv {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        display: none;

        @media screen and (max-width: 767px) {
            display: block;
        }
    }

    &__logoContainer {
        display: flex;
        justify-content: center;
        width: auto;
        height: 40vh;
        padding-top: 85px;
    }

    &__textContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 25px;

    }

    &__text {
        font-weight: bold;
        font-size: 16px;
        margin: 0;
    }

    &__text2 {
        color: #434343;
        margin: 0;
        margin-top: 5px;
        width: 250px;
        text-align: center;
    }

    &__verifyButtonContainer {
        display: flex;
        width: auto;
        height: auto;
        justify-content: center;
    }

    &__verifyButton {
        width: 100vw;
        margin-left: 5px;
        margin-right: 5px;
    }

    &__textContainer2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__text3 {
        font-weight: bold;
        font-size: 14px;
    }

}