$bc: white;

.ResetPasswordVerify {
    &__container {
        background-color: $bc;
        display: flex;
        flex-direction: column;
        width: auto;
        height: 100vh;
    }

    &__protectionDiv {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        display: none;

        @media screen and (width <= 48.00rem) {
            display: block;
        }
    }

    &__logoContainer {
        display: flex;
        justify-content: center;
        width: auto;
        height: 40vh;
        padding-top: 5.25rem;
    }

    &__textContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 1.50rem;

    }

    &__text {
        font-weight: bold;
        font-size: 1.00rem;
        margin: 0;
    }

    &__text2 {
        color: #434343;
        margin: 0;
        margin-top: 0.25rem;
        width: 15.75rem;
        text-align: center;
    }

    &__verifyButtonContainer {
        display: flex;
        width: auto;
        height: auto;
        justify-content: center;
    }

    &__verifyButton {
        width: 100vw;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }

    &__textContainer2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__text3 {
        font-weight: bold;
        font-size: 1.00rem;
    }

}
