.Community {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.Header {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.Communities {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  background-color: lightgray;
  padding: 0.75rem;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
  max-height: 68vh;
}

@media only screen and (width <= 37.50rem) {
  .Community {
    width: 95%;
  }

  .Communities {
    margin-left: 0;
    margin-right: 0;
  }
}
