@import "../../index.css";

.Navbar {
  &__container {
    display: flex;
    width: 100%;
    height: 6.25rem;
    background-color: #4f4f4f;
    align-items: center;
    padding: 0.625rem; // ~10px
  }

  &__button {
    width: 7.5rem;
    height: 70%;
    appearance: none;
  }

  &__text {
    color: black !important;
  }

  &__icon {
    color: #fb7111 !important;
  }
}
